
:root{
    --color: #fff;
}

*,
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


body {
    font-family: "Mulish", sans-serif;
}

.container {
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-columns: clamp(230px, 25%, 280px) 1fr;
    grid-template-rows: auto;
    background-color: #f7f8fc;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

button[type="button"] {
    padding-left: 12px;
    padding: 12px 8px 12px;
    width: 100%;
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
    font-size: 16px;
    text-align: left;
}

button[type="button"]:hover {
    background-color: rgb(78, 72, 156);
    color: #fff;
}

.img-container {
    margin-bottom: 32px;
}

/* sidebar style */

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sidebar {
    grid-row: 1 / span 5;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    padding: 8px;
}



.header {
    background-color: aquamarine;
}

.main {
    background-color: bisque;
    /* height: 97vh; */
}
