:root {
  --primary-color: #fff;
  --secondary-color: #363740;
  --tertiary-color: #e2e8f0;
  --light-secondary-color: #ddd5d0;
  --link-color: #5e73ff;

  /* icon */
  --icon-color: #60626e;
  --icon-hover: #dde2ff;

  /* Font */
  --primary-font-color: #252733;
  --secondary-font-color: #a4a6b3;
  --tertiary-font-color: #9fa2b4;

  /* Icon setting */
  --fill:"FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  --not-fill: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Icons */

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  color: var(--icon-color);
}

.material-symbols-outlined{
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  /* fill*/
  color: var(--icon-color);
}

#dashboard-icon {
  font-size: 45px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 48px 0px 12px;
  padding-right: 48px;
}

.sidebar-nav li:hover span {
  color: #dde2ff;
}

.container {
  font-family: "Mulish", sans-serif;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-columns: clamp(230px, 25%, 280px) 1fr;
  grid-template-rows: auto;
  background-color: #f7f8fc;
}

/* Logo */

.logo {
  font-size: 2rem;
  margin-left: 4px;
  font-weight: 700;
  padding: 4px;
}

/* Buttons */

button .material-icons,
button .material-symbols-outlined {
  margin-right: 32px;
  /*Spacing between icon and text on a button */
}

button[type="button"] {
  padding: 12px;
  padding-left: 24px;
  width: 100%;
  border: 0px;
  background-color: transparent;
  font-size: 16px;
  font-family: "Mulish", sans-serif, Arial, Helvetica;
  cursor: pointer;
  border: none;
  text-align: center;
  color: #a4a6b3;
  display: flex;
  align-items: center;
}

button[type="button"]:hover {
  background-color: #3e4049;
  color: var(--icon-hover);
  border-radius: 0px;
  border-left: 4px solid #fff;
}

/* sidebar style */

.sidebar {
  grid-row: 1 / span 5;
  background-color: var(--secondary-color);
  color: #a4a6b3;
  padding-top: 24px;
  position: relative;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 34px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

/* Header */

.header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 38px 32px 12px;
}

.con {
  position: relative;
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  gap: 12px;
}

.cont {
  display: flex;
  align-items: center;
  gap: 8px;
}

.con input {
  border-radius: 12px;
  border: 2px solid var(--icon-color);
  width: 500px;
  height: 36px;
  padding: 10px 40px 10px 10px;
  font-size: 1rem;
}

.con .material-icons {
  position: absolute;
  right: 10px;
  color: #888; 
  pointer-events: none; 
}

#notif {
  margin-right: 12px;
}

.circle {
  background-color: #5e73ff;
  width: 25px;
  height: 25px;
  border-radius: 15px;
}

.greet {
  display: block;
  line-height: 1.5;
  font-weight: bold;
}

.greet span {
  font-size: 12px;
  font-weight: 600;
  display: block; /* Forces the span to act as a block element */
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 32px 12px;
}

.info > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.circle2 {
  background-color: #5e73ff;
  width: 60px;
  height: 60px;
  border-radius: 35px;
}

input[type="button"] {
  padding: 8px;
  border: 0px;
  width: 100px;
  height: 36px;
  border-radius: 16px;
  max-width: 100px;
  background-color: #5e73ff;
  color: #fff;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #5e74ffd2;
  color: #2e2e2e;
}

.main {
  background-color: var(--tertiary-color);
  height: 79vh;
  text-align: center;
  font-size: 64px;
}


